@model AllCardsServiceModel

<h1 class="text-center mb-md-5">All Cards</h1>
<div class="row">
@foreach(var card in Model.Cards)
{
  var fullPath = "/" + @card.Path;

  <div class="col-md-4">
    <div class="card" style="">
      <img class="card-img-top" src="@fullPath" alt="@card.Title">
      <div class="card-body">
        <h4 class="card-title">@card.Title</h4>
        <h5 class="card-title">@card.Price€</h5>
        <p class="card-text" style="margin:0"><small class="text-muted">Condition: @card.Condition</small></p>
        <p class="card-text"><small class="text-muted">Category: @card.Category</small></p>
        <p class="card-text">@card.Description</p>
        <a asp-controller="Cards" asp-action="Details" asp-route-id="@card.Id" class="btn btn-primary">View More</a>
      </div>
    </div>
  </div>
}
</div>