@using OnlineCardShop.Infrastructure
@model AllCardsServiceModel

@if (TempData.ContainsKey(WebConstants.GlobalMessage))
{
    <div class="alert alert-success" role="alert">
        @TempData[WebConstants.GlobalMessage]
    </div>
}

<h1 class="text-center mb-md-5">All Cards</h1>
<div class="row">
@foreach(var card in Model.Cards)
{
  var fullPath = "/" + @card.Path;

  <div class="col-md-4">
    <div class="card" style="">
        <a asp-controller="Cards" asp-action="Details" asp-route-id="@card.Id">
          <img class="card-img-top" src="@fullPath" alt="@card.Title">
        </a>
      <div class="card-body">
        <h4 class="card-title">@card.Title</h4>
        @if(card.IsPublic == false && card.IsDeleted == false){
            <h5 class="card-text" style="color:red;">Not Approved</h5>
        }else if(card.IsDeleted == true){
            <h5 class="card-text" style="color:red;">Deleted By Administrator</h5>
        }
        <h5 class="card-title">@card.Price€</h5>
        <p class="card-text" style="margin:0"><small class="text-muted">Condition: @card.Condition</small></p>
        <p class="card-text"><small class="text-muted">Category: @card.Category</small></p>
        <p class="card-text">@card.Description</p>
        <a asp-controller="Cards" asp-action="Details" asp-route-id="@card.Id" class="btn btn-primary">View More</a>
        @if(ViewBag.AllowCardEdit == true || User.IsAdmin()){
            <a asp-controller="Cards" asp-action="Edit" asp-route-id="@card.Id" class="btn btn-warning">Edit</a>
        }
      </div>
    </div>
  </div>
}
</div>