@model AllCardsQueryModel

@{
    ViewData["Title"] = "All cards";
}


<form method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Hyunjin, Mingi, etc..">
              </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Category</option>
                    <option value="1" >Condition</option>
                </select>
              </div>
        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if(previousPage < 1)
    {
        previousPage = 1;
    }

    var totalPages = Math.Ceiling((double)Model.TotalCards / AllCardsQueryModel.CardsPerPage);
    var maxShownPages = 5;
    double maxCurrentlyShownPage = 1;
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <ul class="pagination justify-content-center">
          <li class="page-item">
              <a class="
              page-link
              @(Model.CurrentPage == 1 ? "invisible" : string.Empty)" 
              asp-controller="Cards" 
              asp-action="All" 
              asp-route-currentPage="@previousPage"
              asp-route-searchTerm="@Model.SearchTerm"
              asp-route-sorting="@((int)Model.Sorting)">Prev</a>
          </li>
            @if(totalPages > maxShownPages)
            {
                @if (ViewBag.CurrentPage > 1)
                {
                    maxCurrentlyShownPage = 4 + ViewBag.CurrentPage;
                    if(maxCurrentlyShownPage >= totalPages)
                    {
                        maxCurrentlyShownPage = totalPages;
                        for(double currentPage = totalPages - maxShownPages + 1; currentPage <= maxCurrentlyShownPage; currentPage++)
                        {
                            <li class="page-item">
                              <a class="page-link" 
                              asp-controller="Cards" 
                              asp-action="All" 
                              asp-route-currentPage="@currentPage" 
                              asp-route-searchTerm="@Model.SearchTerm"
                              asp-route-sorting="@((int)Model.Sorting)">@currentPage
                              </a>
                            </li>
                        }
                    }
                    else
                    {
                        @for(int currentPage = ViewBag.CurrentPage; currentPage <= maxCurrentlyShownPage; currentPage++)
                        {
                            <li class="page-item">
                              <a class="page-link" 
                              asp-controller="Cards" 
                              asp-action="All" 
                              asp-route-currentPage="@currentPage" 
                              asp-route-searchTerm="@Model.SearchTerm"
                              asp-route-sorting="@((int)Model.Sorting)">@currentPage
                              </a>
                            </li>
                        }
                    }
                }
                else
                {
                    maxCurrentlyShownPage = 5;
                    @for(int currentPage = ViewBag.CurrentPage; currentPage <= maxCurrentlyShownPage; currentPage++)
                    {
                        <li class="page-item">
                          <a class="page-link" 
                          asp-controller="Cards" 
                          asp-action="All" 
                          asp-route-currentPage="@currentPage" 
                          asp-route-searchTerm="@Model.SearchTerm"
                          asp-route-sorting="@((int)Model.Sorting)">@currentPage
                          </a>
                        </li>
                    }
                }
            }
            else{
                @for(int currentPage = 1; currentPage <= totalPages; currentPage++)
                {
                    <li class="page-item">
                        <a class="page-link" 
                         asp-controller="Cards" 
                         asp-action="All" 
                         asp-route-currentPage="@currentPage" 
                         asp-route-searchTerm="@Model.SearchTerm"
                         asp-route-sorting="@((int)Model.Sorting)">@currentPage
                        </a>
                    </li>
                }

            }
            
            <li class="page-item">
              <a class="
              page-link 
              float-right 
              @(Model.CurrentPage == totalPages ? "invisible" : string.Empty)"
              asp-controller="Cards" 
              asp-action="All"
              asp-route-currentPage="@(Model.CurrentPage + 1)"
              asp-route-searchTerm="@Model.SearchTerm"
              asp-route-sorting="@((int)Model.Sorting)">Next</a>
          </li>
        </ul>
    </div>
    <div class="col-md-4">
    </div>
</div>

<h1 class="text-center mb-md-5">All cards</h1>
<div class="row">
@foreach(var card in Model.Cards)
{
  <div class="col-md-4">
    <div class="card" style="">
      <img class="card-img-top" src="@card.ImageUrl" alt="@card.Title">
      <div class="card-body">
        <h5 class="card-title">@card.Title</h5>
        <p class="card-text" style="margin:0"><small class="text-muted">Condition: @card.Condition</small></p>
        <p class="card-text"><small class="text-muted">Category: @card.Category</small></p>
        <p class="card-text">@card.Description</p>
        <a asp-controller="Cards" asp-action="Details" asp-route-id="@card.Id" class="btn btn-primary">View More</a>
      </div>
    </div>
  </div>
}
</div>
