@model CardDetailsServiceModel

@{
    ViewData["Title"] = $"View More - {Model.Title}";

    var imagePath = @Model.cardUser
    .Replace("{ path = ", string.Empty)
    .Replace(" }", string.Empty)
    .Replace("res", string.Empty);
}

<div class="row">
  <div class="offset-3 col-6">
    <div class="card" style="">
      <img class="card-img-top" src="/@Model.Path" alt="@Model.Title">
      <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <h4 class="card-title">@Model.Price€</h4>
        <h6 class="card-text">@Model.Description</h6>
        <p class="card-text" style="margin:0"><small class="text-muted">Condition: @Model.Condition</small></p>
        <p class="card-text"><small class="text-muted">Category: @Model.Category</small></p>
      </div>
    </div>
  </div>
  <div class="col-2 text-left" style="margin-left:5%;">
      <div class="text-center">
          <h3 style="margin-bottom:5%;">@Model.DealerName</h3>
          <a asp-controller="Users" asp-action="Index" asp-route-id="@Model.UserId">
              <img class="rounded-circle z-depth-2" style="height:150px; width:150px;" src="/@imagePath" data-holder-rendered="true">
          </a>

          <h3 style="margin-top:10%;">Reviews</h3>
      </div>
  </div>
</div>
