@model CardDetailsServiceModel

@{
    ViewData["Title"] = $"View More - {Model.Title}";

    var imagePath = @Model.cardUser
    .Replace("{ path = ", string.Empty)
    .Replace(" }", string.Empty)
    .Replace("res", string.Empty);
}

<head>
    <link rel="stylesheet" href="~/css/cards.css" />
</head>

<div class="row">
    <div class="col-md-3"></div>
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <img class="card-img-top card-border-top-radius" src="/@Model.Path" alt="@Model.Title">
      <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <h4 class="card-title">@Model.Price€</h4>
        <h6 class="card-text">@Model.Description</h6>
        <p class="card-text p-condition"><small class="text-muted">Condition: @Model.Condition</small></p>
        <p class="card-text"><small class="text-muted">Category: @Model.Category</small></p>
      </div>
    </div>
  </div>
    <div class="col-md-3 col-sm-12">
      <div class="text-center">
          <a asp-controller="Dealers" asp-action="Dealer" asp-route-id="@Model.UserId">
              <img id="dealer-profile-image" class="z-depth-2" src="/@imagePath" data-holder-rendered="true">
          </a>
          <h3 id="dealer-username">@Model.DealerName</h3>
      </div>
  </div>
</div>
