@model AllCategoriesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
@foreach(var category in @Model.Categories)
{
    @if(category.Id == 1)
        {
            <div class="col-6">
                <a class="card bg-dark text-white category" asp-controller="Cards" asp-action="Kpop">
                  <img class="card-img category" style="height:100%" src="~/kpopCategoryImage.jpg" alt="@category.Name Card image">
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title"  style="background-color:black">@(category.Name.ToUpper())</h5>
                  </div>
                </a>
            </div>
        }
        else{
            <div class="col-6">
                <a class="card bg-dark text-white category" asp-controller="Cards" asp-action="Kpop">
                  <img class="card-img category" style="height:100%" src="~/gameCategoryImage.jpg" alt="@category.Name Card image">
                  <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h5 class="card-title" style="background-color:black">@(category.Name.ToUpper())</h5>
                  </div>
                </a>
            </div>
        }
    }
</div>