@model DealerServiceViewModel

@using OnlineCardShop.Data

@inject OnlineCardShopDbContext data;

@{
    ViewData["Title"] = "Current Dealer";
    if (TempData.ContainsKey(WebConstants.GlobalMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalMessage]
        </div>
    };

    var y = 0;

    var submittersProfileImagePaths = @Model
    .Submitters
    .ToList();
}

<div class="row text-center">
    <div class="offset-3 col-6">
        <h3 style="margin-bottom:9%;">Most Recent Reviews</h3>

        @foreach(var review in @Model.Reviews)
        {
                <div class="card" style="margin-top:5%;">
                  <div class="card-body m-3">
                    <div class="row">
                      <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                            @{
                                var currentSubmitter = review.SubmitterId;
                                var reviewSubmitterFullName = @Model.
                                Submitters.
                                Where(x => x.Id == currentSubmitter)
                                .Select(x => x.FullName)
                                .FirstOrDefault();
                            }
                          <img src="/@submittersProfileImagePaths[y].ProfileImage.Path.Replace("res", string.Empty)" class="rounded-circle img-fluid shadow-1" style="height:135px; width:135px;"></div>
                      <div class="col-lg-8">
                        <p class="text-muted fw-light mb-4">@review.Description</p>
                        <p class="fw-bold lead mb-2"><strong>@reviewSubmitterFullName</strong></p>
                        <p class="fw-bold mb-0" style="color:gold; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;"><strong>@review.Rating☆</strong></p>
                      </div>
                    </div>
                  </div>
                </div>

                y++;
        }
    </div>
    <div class="col text-left">
        <div class="text-center">
            <h3>@Model.Name</h3>
            <h4>@Model.PhoneNumber</h4>
            <hr />
            <h4 style="margin-top:10%; margin-bottom:5%;">Do you have experience with this dealer?</h4>
            <h5>Share it!</h5>
            <form method="post">
                 <div class="rating">
                    @for(var i = 5; i >= 1; i--)
                    {
                        <input asp-for="Rating" type="radio" name="rating" value="@i" id="@i" />
                        <label for="@i">☆</label>
                    }
                </div>
                <div class="form-outline">
                  <textarea asp-for="Description" class="form-control" style="resize:none;" rows="8"></textarea>
                  <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary" style="margin-top:5%;" type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>