@model DealerServiceViewModel

@using OnlineCardShop.Data

@inject OnlineCardShopDbContext data;

@{
    ViewData["Title"] = "Current Dealer";
    if (TempData.ContainsKey(WebConstants.GlobalMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[WebConstants.GlobalMessage]
        </div>
    };

    var y = 0;

    var submittersProfileImagePaths = @Model
    .Submitters
    .ToList();
}

<head>
    <link rel="stylesheet" href="~/css/dealers.css" />
</head>

<div class="row text-center">
    <div class="col-3">
        <h3 id="statistics-h3">@Model.Name's Statistics</h3>

        <div id="total-rating-row" class="row">
            <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-center px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-info fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>@Model.TotalRating</h3>
                    <p class="mb-0">Total Rating</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-center px-md-1">
                  <div class="align-self-center">
                    <i class="fas fa-pencil-alt text-info fa-3x"></i>
                  </div>
                  <div class="text-end">
                    <h3>@Model.TotalRaters</h3>
                    <p class="mb-0">Total Number Of Raters</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3 id="recent-reviews-h3">Most Recent Reviews</h3>

        @if(@Model.Reviews.Count() > 0 && submittersProfileImagePaths.Count() > 0)
        {
            @foreach(var review in @Model.Reviews)
            {
                    <div id="card-div" class="card">
                      <div class="card-body m-3">
                        <div class="row">
                          <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                                @{
                                    var currentSubmitter = review.SubmitterId;
                                    var reviewSubmitterFullName = @Model.
                                    Submitters.
                                    Where(x => x.Id == currentSubmitter)
                                    .Select(x => x.FullName)
                                    .FirstOrDefault();
                                }
                          <img id="profile-image-div" src="/@submittersProfileImagePaths.Where(x => x.Id == currentSubmitter).Select(x => x.ProfileImagePath).FirstOrDefault()" class="rounded-circle img-fluid shadow-1"></div>
                          <div class="col-lg-8">
                            <p class="text-muted fw-light mb-4">@review.Description</p>
                            <p class="fw-bold lead mb-2"><strong>@reviewSubmitterFullName</strong></p>
                            <p id="stars-rating" class="fw-bold mb-0"><strong>@review.Rating☆</strong></p>
                          </div>
                        </div>
                      </div>
                    </div>

                    y++;
            }
        }else{
            <h3>No Reviews!</h3>
        }
    </div>
    <div class="col text-left">
        <div class="text-center">
            <h3>@Model.Name</h3>
            <h4>@Model.PhoneNumber</h4>
            <a class="btn btn-info" asp-action="Details" asp-controller="Users" asp-route-id="@Model.Id">Go To Page</a>
            <hr />
            <h4 id="experience-dealer-h4">Do you have experience with this dealer?</h4>
            <h5>Share it!</h5>
            <form method="post">
                 <div class="rating">
                    @for(var i = 5; i >= 1; i--)
                    {
                        <input asp-for="Rating" type="radio" name="rating" value="@i" id="@i" />
                        <label for="@i">☆</label>
                    }
                </div>
                <div class="form-outline">
                  <textarea asp-for="Description" id="dealers-text-area" class="form-control" rows="8"></textarea>
                  <span asp-validation-for="Description" class="small text-danger"></span>
                </div>
                <input id="submit-btn" class="btn btn-info" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>