@model DealerAndReportsServiceModel

@{
    TempData["dealerId"] = @Model.DealerId;
}

<head>
    <link rel="stylesheet" href="~/css/reports.css" />
</head>

<div class="row align-items-center">
    <div class="offset-md-1 col-md-10">
        <div class="row">
            <div id="profile-image-div" class="col-md-6 text-md-right text-center">
                <img id="profile-image" class="card-img-top" src="/@Model.ProfileImage" alt="Title">
            </div>
            <div id="info-div" class="col-md-6 text-center text-md-left">
                <h2>@Model.Username</h2>
                <h6>REPORTS: @Model.TotalReports</h6>
                <h6>CARDS: @Model.CardsCount</h6>
                <h6>REVIEWS: @Model.ReviewsCount</h6>
                <h6>TOTAL RATING: @Model.TotalRating</h6>
                <h6>TOTAL NUMBER OF RATERS: @Model.TotalNumberOfRaters</h6>
            </div>
        </div>
    </div>
    <div class="col-12 pt-3">
        @if(Model.Reports.Count() > 0)
        {
            <partial name="_ReportsPaginationPartial" model="@Model" />
            <h2 id="reports-heading" class="text-center">REPORTS</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model.Reports)
                    {
                        <tr>
                            <th scope="row">@report.Id</th>
                            <td id="td-reason">@report.Reason</td>
                            <td>@(true ? "Active" : "Inactive")</td>
                            <td>
                                <a asp-area="Admin" asp-controller="Dealers" asp-action="Deny" asp-route-id="@report.Id" class="btn btn-danger">Deny</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2 class="text-center">THE USER HAS NOT BEEN REPORTED YET</h2>
        }
    </div>
</div>
