@using static OnlineCardShop.WebConstants;
@model AllCardsServiceModel;

@{
    ViewData["Title"] = "Home Page";

    @if (TempData.ContainsKey(GlobalMessage))
    {
        <div class="alert alert-success" role="alert">
            @TempData[GlobalMessage]
        </div>
    }
}

<head>
    <link rel="stylesheet" href="~/css/Areas/Admin/index.css" />
</head>

<div class="row">
  <div class="col text-center">
    <h1 id="administration-h1">Administration</h1>

<partial name="_CardsPaginationPartial" model="@Model" />

    <h2 id="cards-h2">Cards</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Deletion Status</th>
          <th scope="col">Activity Status</th>
          <th scope="col">Title</th>
          <th scope="col">Id Of Dealer</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          @foreach(var card in Model.Cards){
              <tr>
                  <th scope="row">@card.Id</th>
                  <td>@(@card.IsDeleted ? "Deleted" : "Public")</td>
                  <td>@(@card.IsPublic ? "Active" : "Inactive")</td>
                  <td>@card.Title</td>
                        <td><a href="/Admin/Dealers/Dealer/@card.DealerId">@card.DealerId</a></td>
                  <td>
                      <a asp-area="" asp-controller="Cards" asp-action="Details" asp-route-id="@card.Id" id="view-more-a" class="btn btn-primary">View More</a>
                      <a asp-area="" asp-controller="Cards" asp-action="Edit" asp-route-id="@card.Id" class="btn btn-warning">Edit</a>
                      @if(card.IsPublic == false && card.IsDeleted == false)
                      {
                          <a asp-controller="Cards" asp-action="Approve" asp-route-id="@card.Id" class="btn btn-success">Approve</a>
                      }else if(card.IsPublic == true && card.IsDeleted == false){
                          <a asp-controller="Cards" asp-action="Hide" asp-route-id="@card.Id" class="btn btn-info">Hide</a>
                      }

                      @if(!card.IsDeleted){
                          <a asp-controller="Cards" asp-action="Delete" asp-route-id="@card.Id" class="btn btn-danger">Delete</a>
                      }
                  </td>
              </tr>
          }
      </tbody>
    </table>
  </div>
</div>